:root {
    --dark-grey: #463F3A;
    --middle-grey: #8A817C;
    --silver: #BCB8B1;
    --light-silver: #F4F3EE;
    --melon: #E0AFA0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-silver);
    color: var(--dark-grey);
    margin: 2rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

input {
    margin-bottom: 2rem;
    outline: none;
    border: 2px solid white;
    border-radius: 1rem;
    padding: .25rem 1rem;
}

input:focus {
    outline: none;
    border: 2px solid var(--melon);
}

button {
    padding: .25rem 1rem;
    border: none;
    background-color: var(--melon);
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--light-silver)
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.show {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 1rem;
    align-items: center;
    border: 1px solid var(--middle-grey);
    background-color: var(--middle-grey);
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: var(--middle-grey) 5px 5px 30px;
}

.show img {
    max-width: 100%;
    max-height: 50%;
}

.show h4 {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.show .genre-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 100%;
   margin-bottom: 1rem;
}

.show .genre-container .genre {
    border: 1px solid var(--melon);
    background-color: var(--melon);
    border-radius: 1rem;
    padding: .25rem 1rem;
    margin: .25rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}

.show .watchNow {
    margin-bottom: 1rem;
    border: 2px solid var(--melon);
    padding: .25rem 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    transition: border-color .25s linear;
}

.show .watchNow:hover {
    border-color: var(--light-silver);
}

.show .watchNow a{
    text-decoration: none;
    color: var(--silver);
    font-weight: bold;
    transition: color .25s linear
}

.show .watchNow a:hover {
    color: var(--light-silver);
}

.show p {
    margin: 0 1rem 1rem;
}